a,
a:hover,
a:link,
a:visited{
    text-decoration: none !important;
    text-decoration-line: none !important;
    border-bottom: none !important;
}

.displaytitle {
    font-size: 64px;
    font-family: 'Californian FB', 'Times New Roman', Times, serif;
    font-weight: bold;
}

.subtitle {
    font-size: 40px;
    font-family: 'Californian FB', 'Times New Roman', Times, serif;
    font-weight: normal;
}

.lead {
    font-size: 18px;
    font-family: 'Arial Rounded MT', Candara, Arial;
    font-weight: bold;
}

.sectiontitle {
    font-size: 20px;
    font-family: 'Arial Rounded MT', Candara, Arial;
    font-weight: bolder;
}

.sectioncategories {
    font-size: 16px;
    font-family: 'Arial Rounded MT', Candara, Arial;
    font-weight: bolder;
}

.cardtitle {
    font-size: 18px;
    font-family: 'Arial Rounded MT', Candara, Arial;
    font-weight: bolder;
}

.paragraph {
    font-size: 16px;
    font-family: 'Arial Rounded MT', Candara, Arial;
    font-weight: normal;
}

.highlight {
    font-size: 16px;
    font-family: 'Arial Rounded MT', Candara, Arial;
    font-weight: bold;
}

.textyellow {
    color: #F4CE14;
}

.textwhite {
    color: #EDEFEE;
}

.textblack {
    color: #333333;
}

.textgreen {
    color: #495E57;
}

.textapricot {
    color: #EE9972;
}

.bodyyellow {
    background-color: #F4CE14;
}

.bodygreen {
    background-color: #495E57;
}

.bodywhite {
    background-color: #EDEFEE;
}

.bodyblack {
    background-color: #333333;
}

.bodyapricot {
    background-color: #EE9972;
}

.bodypeach {
    background-color: #FBDABB;
}

.hero {
    display: block;
    height: 400px;
    width: 100vw;
    background-color: #495E57;
}

.primarybutton {
    height: 60px;
    width: 200px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 3px 5px #333333;
}

a {
    text-decoration: none !important;
    text-decoration-line: none !important;
}